.game-board {
    width: 500px;
    height: 500px;
    position: relative;
}

.square {
    border: 1px solid;
    height: 30px;
    width: 30px;
    position: absolute;
}

.not-square {
    border: 1px solid;
    height: 30px;
    width: 30px;
    position: absolute;
}